
<canvas #fractalCanvas id="fractal-canvas" [width]="width" [height]="height"></canvas>
<div id="close-button" *ngIf="controlPanelActive" (click)="toggleControlPanel()"><md-icon>remove</md-icon></div>
<div id="open-button" *ngIf="!controlPanelActive" (click)="toggleControlPanel()"><md-icon>add</md-icon></div>
<div id="control-panel" *ngIf="controlPanelActive" [@controlPanelAnimation]="''">
  <h2> MandelBrot Set </h2>
  <md-form-field>
    <input mdInput #iterations placeholder="Iterations (def. 50)">
  </md-form-field>
  <md-form-field>
    <input mdInput #threshold placeholder="Threshold (def. 4)">
  </md-form-field>
  <md-form-field>
    <input mdInput #lightCoefficient placeholder="Light Coefficient (def. 1)">
  </md-form-field>
  <md-select placeholder="Color Scheme" [(ngModel)]="selectedColor"  name="color">
    <md-option *ngFor="let color of colors" [value]="colors[i]">
      {{color}}
    </md-option>
  </md-select>
  <br>
  <section class="interior-section">
    <label>Interior:</label>
    <md-radio-group [(ngModel)]="interiorColor">
      <md-radio-button value="black">Black</md-radio-button>
      <md-radio-button value="white">White</md-radio-button>
    </md-radio-group>
  </section>
  <br>
  <button md-raised-button color="primary" (click)="onDraw(iterations.value, threshold.value, lightCoefficient.value)">Draw</button>
  <button md-raised-button color="primary" (click)="iterations.value=''; threshold.value=''; lightCoefficient.value=''; onReset()">Reset</button>
  <p> Click to zoom in. Shift-click to zoom out. </p>
</div>
