@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html, body {
   margin: 0px;
   height: 100%;
   width: 100%;
   font-family: 'Noto Sans';
   padding: 0px;
   background-color: black;
}
